<%= "Welcome to #{@user.username}'s profile" %>  
<!-- equal sign means that this text will be visible to user  -->

<div class="">
  <h1>Your twats</h1>
  <form action="/tweets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <textarea name="tweet[tweettext]" type="text" ></textarea>
    <input type="submit" value="Submit" class="sign"><br>
  </form>
</div>
<% @tweets.each do |t| %>
	<div class="individual-tweet">
		<%=t.tweettext %>
	</div>
<% end %>